@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #F3F5FC;
    box-sizing: border-box;
    height: 100vh;
}

.header {
    padding: 2% 0% 0% 5%;
}
/* .header__menu {
    font-family: 'Inter' sans-serif;
    color: #0A3871;
    font-size: 80px;
} */

.presentacion {
    display: flex;
    margin: 5% 0% 0% 15% ;
    justify-content: space-evenly;
}

.presentacion__contenidoIni {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

.presentacion__contenidoIni__aviso {
    display: flex;
    gap: 8px;
}
.presentacion__contenidoIni__aviso__texto {
    color: #45565F;
    font-family: 'Inter' sans-serif;
    font-size: 12px;
    font-weight: 400;
}

/* .presentacion__contenidoIni__input {
    font-family: 'Inter' sans-serif;
    font-size: 32px;
    font-weight: 400;
} */
.presentacion__contenidoIni__areaTexto {
    font-family: 'Inter' sans-serif;
    font-size: 32px;
    font-weight: 400;
    width: 577px;
    border-style: none;
    resize: none;
}
.presentacion__contenidoRes__areaTexto {
    font-family: 'Inter' sans-serif;
    font-size: 32px;
    font-weight: 400;
    border-style: none;
    resize: none;
    display: none;
}

.presentacion__contenidoIni__botones {
    display: flex;
    gap: 45px;
}

.presentacion__contenido__boton1 {
    border-radius: 24px;
    background-color: #0A3871;
    color: #FFFFFF;
    padding: 16px 24px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    border: none;
    margin-top: 2rem;
}
.presentacion__contenido__boton2 {
    border-radius: 24px;
    background-color: #D8DFE8;
    color: #0A3871;
    padding: 16px 24px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    border: none;
    margin-top: 2rem;
}

.presentacion__contenidoRes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 16px;
}



.presentacion__contenidoRes__botones {
    display: flex;
    gap: 45px;
}

.presentacion__contenidoRes__boton {
    border-radius: 24px;
    background-color: #0A3871;
    color: #FFFFFF;
    padding: 16px 24px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    border: none;
    margin-top: 2rem;
}
.presentacion__contenidoRes__boton:disabled {
    background-color: #D8DFE8;
    color: #0A3871;
}

.presentacion__contenidoRes__titulo {
    color: #45565F;
    font-family: 'Inter' sans-serif;
    font-size: 24px;
    font-weight: 700;
}
.presentacion__contenidoRes__texto {
    color: #45565F;
    font-family: 'Inter' sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.presentacion__contenidoRes__persona {
    width: 80%;
}

@media (max-width:1100px) {

    .presentacion {
        flex-direction: column;
    }
}